<template>
  <div>
    <main-layout routeType="index" />
  </div>
</template>

<script>
import MainLayout from "../../../components/Layout";

export default {
  components: {
    MainLayout,
  },
};
</script>