<template>
  <el-header height="48px" class="index_header">
    <div class="logo">
      <i class="header_logo_first"></i>
      <i class="header_logo_last"></i>
    </div>
    <div class="header_container">
      <div class="header_menu">
        <el-menu
          :default-active="globalIndex"
          class="el-menu-demo"
          mode="horizontal"
          background-color="#0b1350"
          text-color="#fff"
          active-text-color="#2b6aac"
          @select="handleSelect"
          style="height: 48px"
        >
          <el-menu-item index="1">首页</el-menu-item>
          <el-menu-item index="2">处理中心</el-menu-item>
        </el-menu>
      </div>
      <div class="user_info">
        <el-dropdown>
          <span class="el-dropdown-link">
            {{ user.name }}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>{{ user.name }}</el-dropdown-item>
            <el-dropdown-item>退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
  </el-header>
</template>

<script>
export default {
  data() {
    return {
      user: {
        name: "master",
      },
    };
  },
  computed: {
    globalIndex() {
      return this.$store.state.globalIndex;
    },
  },

  methods: {
    handleSelect(key) {
      console.log("updateGlobalIndex", key);
      this.$store.commit("updateGlobalIndex", key);
    },
  },
};
</script>

<style scoped>
.el-header {
  background-color: #0b1350;
  color: #fff;
  text-align: center;
  line-height: 48px;
  padding: 0;
}
.index_header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_container {
  flex: auto;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.header_menu {
  height: 100%;
}
.el-menu-item {
  height: 48px !important;
  line-height: 48px !important;
}
.logo {
  display: flex;
  align-items: center;
  width: 200px;
  height: 48px;
  justify-content: center;
}

.header_logo_first {
  display: inline-block;
  background: url("../../assets/htsc-log-first.png") no-repeat center;
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
}

.header_logo_last {
  margin-left: 15px;
  display: inline-block;
  background: url("../../assets/htsc-log-last.png") no-repeat center;
  background-size: 100% 100%;
  width: 72px;
  height: 24px;
}
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}
.el-icon-arrow-down {
  font-size: 12px;
}
</style>