<template>
  <el-container direction="vertical">
    <Header />

    <el-container style="height: calc(100vh - 48px)">
      <el-aside width="200px">
        <Menu />
      </el-aside>
      <el-main>
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import Header from "./header.vue";
import Menu from "./menu.vue";

export default {
  name: "main-layout",
  components: {
    Header,
    Menu,
  },
  data() {
    return {};
  },
  props: {
    routeType: {
      type: String,
      default: "index",
    },
  },
  computed: {
    globalIndex() {
      return this.$store.state.globalIndex;
    },
  },
};
</script>

<style scoped>
.el-main {
  background-color: #e9eef3;
  color: #333;
  /* text-align: center; */
  /* line-height: calc(100vh - 200px); */
}
.el-aside {
  background-color: #132169;
  color: #fff;
  text-align: center;
}
</style>