
<script>
import { routes } from "../../router";
export default {
  data() {
    return {
      menus: routes,
      activeIndex: this.$route.path,
    };
  },
  mounted() {
    console.log("menu update");
  },
  computed: {
    globalIndex() {
      return this.$store.state.globalIndex;
    },
  },
  watch: {
    globalIndex() {
      // setTimeout(() => {
      //   console.log("update");
      //   this.$forceUpdate();
      // }, 2000);
    },
  },
  methods: {
    handleSelect(key) {
      this.activeIndex = key;
    },
    handleMenu(menus) {
      return menus.map((route) => {
        if (
          Object.prototype.toString.call(route.activeIndex) ===
            "[object Array]" &&
          !route.activeIndex.includes(this.$store.state.globalIndex)
        ) {
          return null;
        }
        if (
          Object.prototype.toString.call(route.activeIndex) !==
            "[object Array]" &&
          route.activeIndex &&
          this.$store.state.globalIndex !== route.activeIndex
        ) {
          return null;
        }
        if (route.children && route.children.length) {
          if (route.hidden) {
            return this.handleMenu(route.children);
          }

          if (this.globalIndex === route.activeIndex)
            return (
              <el-submenu index={route.key} key={route.name}>
                <template slot="title">
                  <span>{route.cnName}</span>
                </template>
                {this.handleMenu(route.children)}
              </el-submenu>
            );
        } else {
          if (route.hidden) {
            return null;
          }
          return (
            <el-menu-item index={route.key} key={route.name}>
              {route.cnName}
            </el-menu-item>
          );
        }
      });
    },
  },
  render() {
    // console.log(this.handleMenu(this.routes));
    return (
      <el-menu
        default-active={this.activeIndex}
        class="el-menu-demo"
        mode="vertical"
        background-color="#132169"
        text-color="#ffffffcc"
        active-text-color="#fff"
        onSelect={this.handleSelect}
        router={true}
      >
        {this.handleMenu(this.menus)}
        <Menu />
      </el-menu>
    );
  },
};
</script>

<style scoped>
.el-menu {
  background-color: #132169;
}
.el-menu-item.is-active {
  background-color: #0091ea !important;
}

.el-menu-item:hover {
  color: #fff !important;
}
</style>