<template>
  <div id="app">
    <!-- <Layout></Layout> -->

    <!-- 对应的组件内容渲染到router-view中 -->
    <router-view></router-view>
  </div>
</template>

<script>
// import Layout from "./components/Layout";

export default {
  name: "App",
  components: {
    // Layout,
  },
  data() {
    return {};
  },
};
</script>

<style>
body {
  margin: 0;
}
#app {
  height: 100vh;
}
</style>